

.detail-page-header.milestone-page-header   .status-box{ class: status_box_class(milestone) }     = milestone_status_string(milestone)   .header-text-content     %span.identifier       %strong         = _('Milestone')     - if milestone.due_date || milestone.start_date       = milestone_date_range(milestone)   .milestone-buttons     - if can?(current_user, :admin_milestone, @group || @project)       = link_to _('Edit'), edit_milestone_path(milestone), class: 'btn btn-grouped'       - if milestone.project_milestone? && milestone.project.group         %button.js-promote-project-milestone-button.btn.btn-grouped{ data: { toggle: 'modal',           target: '#promote-milestone-modal',           milestone_title: milestone.title,           group_name: milestone.project.group.name,           url: promote_project_milestone_path(milestone.project, milestone),           container: 'body' },           disabled: true,           type: 'button' }           = _('Promote')         #promote-milestone-modal       - if milestone.active?         = link_to _('Close milestone'), update_milestone_path(milestone, { state_event: :close }), method: :put, class: 'btn btn-grouped btn-close'       - else         = link_to _('Reopen milestone'), update_milestone_path(milestone, { state_event: :activate }), method: :put, class: 'btn btn-grouped btn-reopen'       = render 'shared/milestones/delete_button'     %button.btn.btn-default.btn-grouped.float-right.d-block.d-sm-none.js-sidebar-toggle{ type: 'button' }       = sprite_icon('chevron-double-lg-left')



